@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?89509313');
  src: url('../fonts/fontello.eot?89509313#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?89509313') format('woff'),
       url('../fonts/fontello.ttf?89509313') format('truetype'),
       url('../fonts/fontello.svg?89509313#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-------------------------------------------------------------------
	Структура
-------------------------------------------------------------------*/
.container{
	width:1170px; /* disable responsive	*/
}
.pt-0{
	padding-top: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.p-0{padding:0px !important;}
.mt-0 {
	margin-top: 0px !important;;
}
.mt-5 {
	margin-top: 5px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-15 {
	margin-top: 15px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;;
}
.mt-40 {
	margin-top: 40px !important;;
}
.mb-0 {
	margin-bottom: 0px !important;;
}
.mb-5 {
	margin-bottom: 5px !important;;
}
.mb-10 {
	margin-bottom: 10px !important;;
}
.mb-20 {
	margin-bottom: 20px !important;;
}
.mb-30 {
	margin-bottom: 30px !important;;
}
.mb-40 {
	margin-bottom: 40px !important;;
}
.mb-50 {
	margin-bottom: 50px !important;;
}
.ml-5{
	margin-left: 5px !important;
}
.panel{
	border: 1px solid #dee2e6;
	position:relative;
    box-shadow: none;
}
.panel-heading{
	font-size: 18px;
	border-color: #eff2f7;
}
/*.panel-tab{margin-top:-15px}*/
.half-fl{
	width:50%;
	float:left;
}
.ls-n{
	list-style:none;
	margin:0px;
	padding:0px;
}
.dsp-inline{
	display:inline-block;
	margin-right:10px;
}
.control-label-size{
	font-size: 20px;
}
.dsp-n{
	display:none;
}
.text-black{color:black}
.text-red{color:#de5957}

/*-------------------------------------------------------------------
	Типография
-------------------------------------------------------------------*/
h1{font-size:28px}
h2{font-size:24px}
.fs-14{font-size:14px}
.ta-c{text-align:center}
.ta-l{text-align:left}
.ta-r{text-align:right}

.li-circle-marker:before {
	content: "\25cf ";
	padding-right: 5px;
	font-size:18px;
}
.page-header{border-bottom: 1px solid #DEDEDE;}
.fontello{font-family:fontello}
p.message{padding:15px}


/*-------------------------------------------------------------------
	Интерфейс
-------------------------------------------------------------------*/
	/*-------------------------------------------------------------------
		Ссылки под заголовком
	-------------------------------------------------------------------*/
	.page-title_links{
		font-size:14px;
	}
	.page-title_links .fa{
		margin-right: 10px
	}
	.page-title_links-item{
		margin-right: 30px;
	}



/*-------------------------------------------------------------------
	Float Save Button
-------------------------------------------------------------------*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50%;
	right:40px;
	background-color: #3183a3;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	font-size: 18px;
}
.my-float{
    margin-top: 17px;
    margin-left: 2px;
	font-size: 30px !important;
}
.clickable{
	cursor:pointer !important;
}
/*-------------------------------------------------------------------
	Custom Modal
-------------------------------------------------------------------*/
.modal-backdrop{
	position: fixed !important;
}
.extended-information-dialog{
	margin: 5% auto !important;
}