.page-header{
	margin: 5px 0 20px !important;
}
.help-section{
	font-size:14px;
}
.help-icon{
	z-index: 1000;
	padding-top: 5px;
	padding-right: 5px;
    position: absolute;
    right: 0;
    top: 0;	
	font-size: 16px !important;
}
.help-icon:hover{
	color: #333;	
}
.help-full-href{
	float: right;
    margin-right: 10px;	
}
/*-------------------------------------------------------------------
	Справка
-------------------------------------------------------------------*/
.help-section{
	font-size:14px;
}
.help-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.help-sidebar .nav>.active>ul {
    display: block;
}
.help-sidebar .nav>.active>a {
    background-color: transparent;
	border-left:3px solid #485462;
	color: #337ab7;
}
.help-sidebar .nav>li>a:hover, .help-sidebar .nav>li>a:focus{
	color: #337ab7;
	background-color: transparent;
	text-decoration:underline;
}
.help-sidebar .nav a{
	padding: 6px 15px;
	margin-bottom:3px;
}
.help-sidebar .nav li>ul{
	margin-left:30px;
}
.table-help{
	table-layout: fixed;
}
.table-help td{
	border: 1px solid #DEDEDE;
	background-color: white;
}