.clickable{
    cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body-hide{
	display: none;
}
body{
	background-color:#337ab7 !important;
}
.lable-one{
	color: #fff;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.text-overtop{
	font-weight: bold;
	color:white;
	font-size: 63px;
	text-align: center;
	border:3px;
	margin-top: 50px;
}
.text-top{
	color:white;
	font-size: 40px;
	text-align: center;
	border:3px;
	margin-top: 100px;
}
.my-form-control{
	height: 50px !important;
	font-size: 31px !important;
	font-weight: bold !important;
    padding: 10px 16px;
    font-size: 23px;
    line-height: 1.3333333;
    border-radius: 6px;
	margin-top: 50px;
	
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}
.dropdown-menu > li > a{
	height: 45px;
    font-size: 25px;
    font-weight: bold !important;
}
.button-start{
	margin-top: 40px;
	height: 70px;
	font-size:23px !important;
	text-align:center !important;
	border-color: white !important;
	border-radius:6px !important;
}
.button-start:hover { 
    background-color: white !important;
	color:#337ab7 !important;
}
.button-help{
	margin-top: 80px;
	height: 70px;
	font-size:23px !important;
	text-align:center !important;
	border-color: white !important;
	border-radius:6px !important;
}
.button-help:hover { 
    background-color: white !important;
	color:#337ab7 !important;
}
.name-questions{
	font-weight: bold;
	color:white;
	font-size: 63px;
	text-align: center;
	border:3px;
	margin-top: -40px;
	
}
.main-bacground-questions{
	
}
